body {
    background-color: darkgray;
    font-family: Lato, sans-serif;
}

.login_widget {
    display: inline-block;
    float: right;
}

.alert {
    color: red;
}

.quiz_title {
    border: 3px solid gray;
    border-radius: 5px;
    background-color: lightgoldenrodyellow;
    margin: 10px 100px;
    padding: 5px;
}

img.profile {
    width: 200px;
}

div.container {
    width: 500px;
    border: 3px solid gray;
    background-color: lightgray;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    padding: 20px;
}

td.label {
    text-align: right;
}

td.input {
    text-align: left;
}

table {
    margin-left: auto;
    margin-right: auto;
}
